<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body> 
    {%- include header.html -%}
  <section>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div>
        <articleside>
          <a class="twitter-timeline" data-tweet-limit="4" data-width="270" data-chrome="noscrollbar" 
          data-theme="light" href="https://twitter.com/m_s_mems">
          </a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
          </script>
      </articleside>
      </div>
    </main>
  </section>
    {%- include footer.html -%}

  </body>

</html>
